In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

:

In [30]:
v1_serial = "j1_frozen_wave_with_z0_l2_3_values_with_n_max_before_paralelism"
v2_2_j1_paralelizado =  "j1_frozen_wave_with_z0_l2_3_values_with_n_max_after_parallel"
v2_3_gn_paralelizado = "j1_frozen_wave_with_z0_l2_3_values_with_n_max_after_gn_parallel"

In [96]:
v2_2_j1_paralelizado_4_processos = "j1_frozen_wave_with_z0_l2_l4_and_1_times_3_values_n_max_after_j1_parallel_4_processes"
v2_3_gn_paralelizado_4_processos = "j1_frozen_wave_with_z0_l2_l4_and_3_values_n_max_after_gn_parallel_4_processes"

In [78]:
old_results = "./outputs/time_result/primeira rodada/"
new_results = "./outputs/time_result/"

In [97]:
# file_name = v1_serial + ".csv"
# file_name = v2_2_j1_paralelizado + ".csv"
# file_name = v2_2_j1_paralelizado_4_processos + ".csv"
# file_name = v2_3_gn_paralelizado + ".csv"
file_name = v2_3_gn_paralelizado_4_processos + ".csv"

file_result = new_results + file_name
# file_result = old_results + file_name

tempos = pd.read_csv(file_result)

# tempos.head()

In [98]:
tempos = pd.read_csv(file_result)

In [44]:
# tempos.head()

In [99]:
tempos

,execucao,ponto,z,n_max,j1,gn,gn1,ot,op
0,0,0.10,l2,4,6.279164,3.092608,3.182472,0.001576,0.001815
1,0,0.10,l4,4,6.911367,3.408089,3.498498,0.001970,0.002012
2,0,10.05,l2,21,35.291971,17.710779,17.557293,0.009817,0.010393
3,0,10.05,l4,21,33.141482,16.586561,16.533803,0.009030,0.008688
4,0,20.00,l2,33,49.656861,24.870050,24.756124,0.012517,0.012852
5,0,20.00,l4,33,49.507878,24.686096,24.792640,0.011973,0.011958

In [100]:
tempos = tempos[tempos["z"] == "l2"]

In [101]:
tempos

,execucao,ponto,z,n_max,j1,gn,gn1,ot,op
0,0,0.10,l2,4,6.279164,3.092608,3.182472,0.001576,0.001815
2,0,10.05,l2,21,35.291971,17.710779,17.557293,0.009817,0.010393
4,0,20.00,l2,33,49.656861,24.870050,24.756124,0.012517,0.012852

In [86]:
# tempos = tempos.drop(index=3)

Calcular a media

In [19]:
def media(col_name):
    return tempos[col_name].mean()

In [17]:
def porcentagem_do_todo(col_total, col_parcial):
    return (tempos[col_parcial].mean() * 100) / tempos[col_total].mean()

In [102]:
print(f'função  | tempo (s) | porcentagem (%)')
print(f'j1      | {media("j1"):.3f}    | 100')
print(f'gn      | {media("gn"):.3f}    | {porcentagem_do_todo("j1", "gn"):.3f}')
print(f'gn1     | {media("gn1"):.3f}    | {porcentagem_do_todo("j1", "gn1"):.3f}')
print(f'ot      | {media("ot"):.3f}     | {porcentagem_do_todo("j1", "ot"):.3f}')
print(f'op      | {media("op"):.3f}     | {porcentagem_do_todo("j1", "op"):.3f}')

função  | tempo (s) | porcentagem (%)
j1      | 30.409    | 100
gn      | 15.224    | 50.065
gn1     | 15.165    | 49.871
ot      | 0.008     | 0.026
op      | 0.008     | 0.027

Calcular a variancia

In [20]:
tempos['j1'].var()

1489.14854478263